In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from sklearn.metrics import jaccard_score


#import CSV file while removing white space from the dataset
data = pd.read_csv("adult.data (1).csv", skipinitialspace=True)
print("data shape: "+str(data.shape))
print("number of rows: "+str(data.shape[0]))
print("number of cols: "+str(data.shape[1]))

data shape: (32561, 15)
number of rows: 32561
number of cols: 15

In [3]:
print(data.columns.values)

['age' 'workclass' 'fnlwgt' 'education' 'education-num' 'marital-status'
 'occupation' 'house-serv' 'race' 'sex' 'capital-gain' 'capital-loss'
 'hours-per-week' 'native-country' 'salary']

In [4]:
options = ['Private', 'HS-grad', 'Married-civ-spouse', 'Black','Male']

# age: 63
# workclass: Private
# education: HS-grad
# marital-status: Married-civ-spouse
# race: Black
# sex: Male

rslt_df = data.loc[(data['age'] == 63) & (data['workclass'] == 'Private') & (data['education'] == 'HS-grad') & (data['marital-status'] == 'Married-civ-spouse') & (data['race'] == 'Black') & (data['sex'] == 'Male')]

print(rslt_df)

       age workclass  fnlwgt education  education-num      marital-status  \
13198   63   Private  225102   HS-grad              9  Married-civ-spouse
20000   63   Private  205246   HS-grad              9  Married-civ-spouse
26763   63   Private  124242   HS-grad              9  Married-civ-spouse

              occupation house-serv   race   sex  capital-gain  capital-loss  \
13198  Handlers-cleaners    Husband  Black  Male             0             0
20000  Machine-op-inspct    Husband  Black  Male             0             0
26763       Adm-clerical    Husband  Black  Male             0             0

       hours-per-week native-country salary
13198              40              ?  <=50K
20000              40  United-States  <=50K
26763              40  United-States  <=50K

In [5]:
print("number of rows which match Background Knowledge: "+str(rslt_df.shape[0]))

number of rows which match Background Knowledge: 3

In [6]:
add_info = rslt_df.loc[data['occupation'] == 'Machine-op-inspct']
print(add_info)

       age workclass  fnlwgt education  education-num      marital-status  \
20000   63   Private  205246   HS-grad              9  Married-civ-spouse

              occupation house-serv   race   sex  capital-gain  capital-loss  \
20000  Machine-op-inspct    Husband  Black  Male             0             0

       hours-per-week native-country salary
20000              40  United-States  <=50K

In [7]:
print("number of rows which match Background Knowledge after adding occupation : "+str(add_info.shape[0]))

number of rows which match Background Knowledge after adding occupation : 1

In [8]:
print('QUESTION 2')

QUESTION 2

In [9]:
data2 = pd.read_csv("purchase-rest.csv", skipinitialspace=True)

Bob_data = pd.read_csv("bob.csv", skipinitialspace=True) 


print("data shape: "+str(data2.shape))
print("number of rows: "+str(data2.shape[0]))
print("number of cols: "+str(data2.shape[1]))


data2.drop('user', inplace=True, axis=1)

Bob_data.drop('user', inplace=True, axis=1)


base = np.array(data2)

# print(array1[1])

print("\nQUESTION 2B ANSWER\n")

y_true = base[1]
y_pred = base[2]

print(y_true)
print(y_pred)
jaccard_score(y_true, y_pred)

data shape: (10000, 41)
number of rows: 10000
number of cols: 41

QUESTION 2B ANSWER

[1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1
 1 1 1]
[1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 1 1 1 1 0 1 0 0 0 0 1 1 0
 0 0 0]

0.3611111111111111

In [29]:
print("\nQUESTION 2C and D ANSWER\n")

array2= np.array(Bob_data)


y_true = array2[0]

result = []
trial = {}

for x in range(1000):
    y_pred = base[x]
    solution = jaccard_score(y_true,y_pred)
    trial[x] = solution
    result.append(solution)
    

value_check = trial


Max_no1 = sorted(trial.values())[-1]


Max_no2 = sorted(trial.values())[-2]


key_list = list(trial.keys())
val_list = list(trial.values())


position1 = val_list.index(Max_no1)
Row_index1=key_list[position1]

position2 = val_list.index(Max_no2)
Row_index2 = key_list[position2]


print("The Row Index for the Highest Jaccard score is:", Row_index1 )
print("The Row Index for the Second Highest Jaccard score is:", Row_index2 )

Good_Bought_1 = []
Good_Bought_2 = []

for i in range(40):
    if base[Row_index1][i] == 1:
        Score = i+1
        Good_Bought_1.append(Score)
        
print("The Items bought for the Highest jaccard score are items:", Good_Bought_1)

for i in range(40):
    if base[Row_index2][i] == 1:
        Score = i+1
        Good_Bought_2.append(Score)
        

print("The Items bought for the second Highest Jaccard score are items: ", Good_Bought_2)

print("The jaccard scores of the Top two Rows are:", Max_no1, "and ", Max_no2 , "Respectively")

QUESTION 2C and D ANSWER

The Row Index for the Highest Jaccard score is: 692
The Row Index for the Second Highest Jaccard score is: 6
The Items bought for the Highest jaccard score are items: [1, 2, 6, 17, 18, 20, 22, 26, 38, 39]
The Items bought for the second Highest Jaccard score are items:  [1, 4, 13, 17, 18, 19, 34, 36, 38]
The jaccard scores of the Top two Rows are: 0.5833333333333334 and  0.5 Respectively