In [78]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time


data = pd.read_csv("adult.data (1).csv")
print("data shape: "+str(data.shape))
print("number of rows: "+str(data.shape[0]))
print("number of cols: "+str(data.shape[1]))

data shape: (32561, 15)
number of rows: 32561
number of cols: 15

In [74]:
print(data.columns.values)

['age' 'workclass' 'fnlwgt' 'education' 'education-num' 'marital-status'
 'occupation' 'house-serv' 'race' 'sex' 'capital-gain' 'capital-loss'
 'hours-per-week' 'native-country' 'salary']

In [87]:
options = ['Private', 'HS-grad', 'Married-civ-spouse', 'Black','Male']

data['workclass'] = data['workclass'].replace('\s+', ' ', regex=True)


rslt_df = data.loc[data['workclass'] == ' Private']

print(rslt_df)

       age workclass  fnlwgt      education  education-num  \
2       38   Private  215646        HS-grad              9
3       53   Private  234721           11th              7
4       28   Private  338409      Bachelors             13
5       37   Private  284582        Masters             14
6       49   Private  160187            9th              5
...    ...       ...     ...            ...            ...
32555   22   Private  310152   Some-college             10
32556   27   Private  257302     Assoc-acdm             12
32557   40   Private  154374        HS-grad              9
32558   58   Private  151910        HS-grad              9
32559   22   Private  201490        HS-grad              9

               marital-status          occupation      house-serv    race  \
2                    Divorced   Handlers-cleaners   Not-in-family   White
3          Married-civ-spouse   Handlers-cleaners         Husband   Black
4          Married-civ-spouse      Prof-specialty            Wife   Black
5          Married-civ-spouse     Exec-managerial            Wife   White
6       Married-spouse-absent       Other-service   Not-in-family   Black
...                       ...                 ...             ...     ...
32555           Never-married     Protective-serv   Not-in-family   White
32556      Married-civ-spouse        Tech-support            Wife   White
32557      Married-civ-spouse   Machine-op-inspct         Husband   White
32558                 Widowed        Adm-clerical       Unmarried   White
32559           Never-married        Adm-clerical       Own-child   White

           sex  capital-gain  capital-loss  hours-per-week  native-country  \
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
5       Female             0             0              40   United-States
6       Female             0             0              16         Jamaica
...        ...           ...           ...             ...             ...
32555     Male             0             0              40   United-States
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States

       salary
2       <=50K
3       <=50K
4       <=50K
5       <=50K
6       <=50K
...       ...
32555   <=50K
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K

[22696 rows x 15 columns]