In [ ]:
                                      ARANSIOLA OLUWASEMIPE GENESIS

                                                 46242937
                                                
                                            COMP8320 Assignment 1

                              (https://github.com/Oluwasemipe-ops/IDS-assigment)

In [108]:
import pixiedust
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import sklearn
import random
from sklearn.metrics import jaccard_score
from sklearn import utils



#import CSV file while removing white space from the dataset
data = pd.read_csv("adult.data (1).csv", skipinitialspace=True)
print("data shape: "+str(data.shape))
print("number of rows: "+str(data.shape[0]))
print("number of cols: "+str(data.shape[1]))

data shape: (32561, 15)
number of rows: 32561
number of cols: 15

In [109]:
print(data.columns.values)

['age' 'workclass' 'fnlwgt' 'education' 'education-num' 'marital-status'
 'occupation' 'house-serv' 'race' 'sex' 'capital-gain' 'capital-loss'
 'hours-per-week' 'native-country' 'salary']

In [110]:
options = ['Private', 'HS-grad', 'Married-civ-spouse', 'Black','Male']

# age: 63
# workclass: Private
# education: HS-grad
# marital-status: Married-civ-spouse
# race: Black
# sex: Male

rslt_df = data.loc[(data['age'] == 63) & (data['workclass'] == 'Private') & (data['education'] == 'HS-grad') & (data['marital-status'] == 'Married-civ-spouse') & (data['race'] == 'Black') & (data['sex'] == 'Male')]

print(rslt_df)

       age workclass  fnlwgt education  education-num      marital-status  \
13198   63   Private  225102   HS-grad              9  Married-civ-spouse
20000   63   Private  205246   HS-grad              9  Married-civ-spouse
26763   63   Private  124242   HS-grad              9  Married-civ-spouse

              occupation house-serv   race   sex  capital-gain  capital-loss  \
13198  Handlers-cleaners    Husband  Black  Male             0             0
20000  Machine-op-inspct    Husband  Black  Male             0             0
26763       Adm-clerical    Husband  Black  Male             0             0

       hours-per-week native-country salary
13198              40              ?  <=50K
20000              40  United-States  <=50K
26763              40  United-States  <=50K

In [111]:
print("number of rows which match Background Knowledge: "+str(rslt_df.shape[0]))

number of rows which match Background Knowledge: 3

In [112]:
add_info = rslt_df.loc[data['occupation'] == 'Machine-op-inspct']
print(add_info)

       age workclass  fnlwgt education  education-num      marital-status  \
20000   63   Private  205246   HS-grad              9  Married-civ-spouse

              occupation house-serv   race   sex  capital-gain  capital-loss  \
20000  Machine-op-inspct    Husband  Black  Male             0             0

       hours-per-week native-country salary
20000              40  United-States  <=50K

In [113]:
print("number of rows which match Background Knowledge after adding occupation : "+str(add_info.shape[0]))

number of rows which match Background Knowledge after adding occupation : 1

In [114]:
print('QUESTION 2')

QUESTION 2

In [115]:
data2 = pd.read_csv("purchase-rest.csv", skipinitialspace=True)

Bob_data = pd.read_csv("bob.csv", skipinitialspace=True) 


print("data shape: "+str(data2.shape))
print("number of rows: "+str(data2.shape[0]))
print("number of cols: "+str(data2.shape[1]))

print("\nQUESTION 2A ANSWER\n")

pseudo_data = [1,0,0,1,0,1,0,0,0,0,0,1,1,1,1,0,0,0,1,1,1,1,0]

label_1 =[]

count_array = len(pseudo_data)

# print(count_array)

for i in range(count_array):
    if pseudo_data[i] == 1:
        Score = i
        label_1.append(Score)
        

print(label_1)



data2.drop('user', inplace=True, axis=1)

Bob_data.drop('user', inplace=True, axis=1)


base = np.array(data2)

# print(array1[1])

print("\nQUESTION 2B ANSWER\n")

y_true = base[1]
y_pred = base[2]

# print(y_true)
# print(y_pred)
print("The jaccard score is:" ,jaccard_score(y_true, y_pred))

data shape: (10000, 41)
number of rows: 10000
number of cols: 41

QUESTION 2A ANSWER

[0, 3, 5, 11, 12, 13, 14, 18, 19, 20, 21]

QUESTION 2B ANSWER

The jaccard score is: 0.3611111111111111

In [116]:
print("\nQUESTION 2C and D ANSWER\n")

# Fetch Bob's data and assign into an array.
array2= np.array(Bob_data)

# Setting the value need for jaccard's score from Bob's data
y_true = array2[0]

result = []
trial = {}

for x in range(10000):
    y_pred = base[x]
    solution = jaccard_score(y_true,y_pred)
    trial[x] = solution
    result.append(solution)
    

value_check = trial


Max_no1 = sorted(trial.values())[-1]


Max_no2 = sorted(trial.values())[-2]


key_list = list(trial.keys())
val_list = list(trial.values())


position1 = val_list.index(Max_no1)
Row_index1=key_list[position1]

position2 = val_list.index(Max_no2)
Row_index2 = key_list[position2]


print("\nThe Row Index for the Highest Jaccard score is:", Row_index1 )
print("\nThe Row Index for the Second Highest Jaccard score is:", Row_index2 )

Good_Bought_1 = []
Good_Bought_2 = []

for i in range(40):
    if base[Row_index1][i] == 1:
        Score = i+1
        Good_Bought_1.append(Score)
        
print("\nThe Items bought for the Highest jaccard score are items:", Good_Bought_1)

for i in range(40):
    if base[Row_index2][i] == 1:
        Score = i+1
        Good_Bought_2.append(Score)
        

print("\nThe Items bought for the second Highest Jaccard score are items: ", Good_Bought_2)

print("\nThe jaccard scores of the Top two Rows are:", Max_no1, "and ", Max_no2 , "Respectively")

QUESTION 2C and D ANSWER


The Row Index for the Highest Jaccard score is: 9400

The Row Index for the Second Highest Jaccard score is: 4688

The Items bought for the Highest jaccard score are items: [1, 2, 3, 4, 17, 18, 20, 38, 39]

The Items bought for the second Highest Jaccard score are items:  [1, 2, 4, 9, 17, 18, 20, 26, 27, 36, 38, 39]

The jaccard scores of the Top two Rows are: 0.8 and  0.6153846153846154 Respectively

In [117]:
print("\nQUESTION 3 \n")


#import CSV file while removing white space from the dataset
data_rest = pd.read_csv("adult-rest.csv", skipinitialspace=True)
print("data shape: "+str(data.shape))
print("number of rows: "+str(data.shape[0]))
print("number of cols: "+str(data.shape[1]))

print(data_rest)

QUESTION 3

data shape: (32561, 15)
number of rows: 32561
number of cols: 15
        race     sex salary
0      White    Male  <=50K
1      White    Male  <=50K
2      White    Male  <=50K
3      Black    Male  <=50K
4      Black  Female  <=50K
...      ...     ...    ...
32556  White  Female  <=50K
32557  White    Male   >50K
32558  White  Female  <=50K
32559  White    Male  <=50K
32560  White  Female   >50K

[32561 rows x 3 columns]

In [118]:
df_shuffled=sklearn.utils.shuffle(data_rest)
print(df_shuffled)

        race     sex salary
18470  White  Female  <=50K
31727  White    Male   >50K
11821  White    Male  <=50K
14498  White    Male  <=50K
9543   Other    Male  <=50K
...      ...     ...    ...
2684   White    Male  <=50K
608    Black    Male  <=50K
26607  White  Female  <=50K
22836  White  Female  <=50K
21272  White    Male  <=50K

[32561 rows x 3 columns]

In [56]:
# %%pixie_debugger

epsilon = 0.5
Delta = pow(10,-12)

data_input = df_shuffled
data_input_nodup = data_input.drop_duplicates()
print(data_input_nodup)
data_output = []
threshold = 0  
print(len(data_input_nodup))
for index, row in data_input_nodup.iterrows():
    race = row['race']
    salary = row['salary']
    sex = row['sex']
    counting_query = data_input.query("race == @race and salary == @salary and sex == @sex")
    
    qD = len(counting_query)
    ax = 0  
    if qD == 0:
        ax = 0
            
    if qD > 0:
        ax = qD + np.random.laplace(1/epsilon)
        if ax < (np.log(1/Delta)*(1/epsilon)+1):
            ax = 0
        else:
            ax = round(ax)
    if ax > 0:
        data_output.append(row)
              
print(data_output)

                     race     sex salary
18541               White    Male   >50K
15976               White    Male  <=50K
4109                White  Female  <=50K
29738               Black    Male  <=50K
18163               Black  Female  <=50K
6453                White  Female   >50K
13031  Asian-Pac-Islander    Male  <=50K
14888               Black    Male   >50K
11916  Asian-Pac-Islander  Female   >50K
31787  Asian-Pac-Islander  Female  <=50K
22696  Asian-Pac-Islander    Male   >50K
22270               Other  Female  <=50K
19102               Other    Male  <=50K
31915  Amer-Indian-Eskimo    Male  <=50K
14787               Black  Female   >50K
15674  Amer-Indian-Eskimo  Female  <=50K
16847  Amer-Indian-Eskimo    Male   >50K
31368               Other    Male   >50K
18252               Other  Female   >50K
12220  Amer-Indian-Eskimo  Female   >50K
20
[race      White
sex        Male
salary     >50K
Name: 18541, dtype: object, race      White
sex        Male
salary    <=50K
Name: 15976, dtype: object, race       White
sex       Female
salary     <=50K
Name: 4109, dtype: object, race      Black
sex        Male
salary    <=50K
Name: 29738, dtype: object, race       Black
sex       Female
salary     <=50K
Name: 18163, dtype: object, race       White
sex       Female
salary      >50K
Name: 6453, dtype: object, race      Asian-Pac-Islander
sex                     Male
salary                 <=50K
Name: 13031, dtype: object, race      Black
sex        Male
salary     >50K
Name: 14888, dtype: object, race      Asian-Pac-Islander
sex                   Female
salary                 <=50K
Name: 31787, dtype: object, race      Asian-Pac-Islander
sex                     Male
salary                  >50K
Name: 22696, dtype: object, race       Other
sex       Female
salary     <=50K
Name: 22270, dtype: object, race      Other
sex        Male
salary    <=50K
Name: 19102, dtype: object, race      Amer-Indian-Eskimo
sex                     Male
salary                 <=50K
Name: 31915, dtype: object, race       Black
sex       Female
salary      >50K
Name: 14787, dtype: object, race      Amer-Indian-Eskimo
sex                   Female
salary                 <=50K
Name: 15674, dtype: object]

Question 3C

The Threshold in step 7 of the algorithm is:  56.262042231857095

In [59]:
print("\nQuestion 3C\n ")
t_hold = np.log(1/Delta)/epsilon + 1

print("The Threshold in step 7 of the algorithm is: ", t_hold)

Question 3C

The Threshold in step 7 of the algorithm is:  56.262042231857095

In [58]:
print("Question 3c Answer\n")

print("The points following points do not appear on D`: \n 11916  Asian-Pac-Islander  Female   >50K \n 16847  Amer-Indian-Eskimo    Male   >50K \n 31368               Other    Male   >50K \n 18252               Other  Female   >50K \n 12220  Amer-Indian-Eskimo  Female   >50K")

Question 3c Answer

The points following points do not appear on D`
 11916  Asian-Pac-Islander  Female   >50K
 16847  Amer-Indian-Eskimo    Male   >50K
 31368               Other    Male   >50K
 18252               Other  Female   >50K
 12220  Amer-Indian-Eskimo  Female   >50K