In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time



#import CSV file while removing white space from the dataset
data = pd.read_csv("adult.data (1).csv", skipinitialspace=True)
print("data shape: "+str(data.shape))
print("number of rows: "+str(data.shape[0]))
print("number of cols: "+str(data.shape[1]))

data shape: (32561, 15)
number of rows: 32561
number of cols: 15

In [3]:
print(data.columns.values)

['age' 'workclass' 'fnlwgt' 'education' 'education-num' 'marital-status'
 'occupation' 'house-serv' 'race' 'sex' 'capital-gain' 'capital-loss'
 'hours-per-week' 'native-country' 'salary']

In [4]:
options = ['Private', 'HS-grad', 'Married-civ-spouse', 'Black','Male']

# age: 63
# workclass: Private
# education: HS-grad
# marital-status: Married-civ-spouse
# race: Black
# sex: Male

rslt_df = data.loc[(data['age'] == 63) & (data['workclass'] == 'Private') & (data['education'] == 'HS-grad') & (data['marital-status'] == 'Married-civ-spouse') & (data['race'] == 'Black') & (data['sex'] == 'Male')]

print(rslt_df)

       age workclass  fnlwgt education  education-num      marital-status  \
13198   63   Private  225102   HS-grad              9  Married-civ-spouse
20000   63   Private  205246   HS-grad              9  Married-civ-spouse
26763   63   Private  124242   HS-grad              9  Married-civ-spouse

              occupation house-serv   race   sex  capital-gain  capital-loss  \
13198  Handlers-cleaners    Husband  Black  Male             0             0
20000  Machine-op-inspct    Husband  Black  Male             0             0
26763       Adm-clerical    Husband  Black  Male             0             0

       hours-per-week native-country salary
13198              40              ?  <=50K
20000              40  United-States  <=50K
26763              40  United-States  <=50K

In [5]:
print("number of rows which match Background Knowledge: "+str(rslt_df.shape[0]))

number of rows which match Background Knowledge: 3

In [6]:
add_info = rslt_df.loc[data['occupation'] == 'Machine-op-inspct']
print(add_info)

       age workclass  fnlwgt education  education-num      marital-status  \
20000   63   Private  205246   HS-grad              9  Married-civ-spouse

              occupation house-serv   race   sex  capital-gain  capital-loss  \
20000  Machine-op-inspct    Husband  Black  Male             0             0

       hours-per-week native-country salary
20000              40  United-States  <=50K

In [7]:
print("number of rows which match Background Knowledge after adding occupation : "+str(add_info.shape[0]))

number of rows which match Background Knowledge after adding occupation : 1

In [10]:
print('QUESTION 2')

QUESTION 2

In [11]:
data2 = pd.read_csv("purchase-rest.csv", skipinitialspace=True)

print("data shape: "+str(data2.shape))
print("number of rows: "+str(data2.shape[0]))
print("number of cols: "+str(data2.shape[1]))

data shape: (10000, 41)
number of rows: 10000
number of cols: 41